extends layout
block content
  div(class="movieInfo")
    div(class="movieName") #{movie.Title} (#{movie.Year})
    div(style="font-weight: bold;") #{movie.Genre.replace(/,/g, " | ")}
    br 
    | #{movie.Actors.replace(/,/g, " | ")}
    p #{movie.Plot}
    each rating in movie.Ratings
      | #{rating.Source} : #{rating.Value}
      br
    a(href="https://www.imdb.com/title/#{movie.imdbID}", target="_new")
      img(src="#{movie.Poster}")
    form(action="/movies/addFav", method="post")
        input(type="hidden", name="imdb", value=movie.imdbID)
        input(type="submit", value="Add Favorite" class="addFav")
    if(fav)
      form(action="/movies/remFav", method="post")
        input(type="hidden", name="imdb", value=movie.imdbID)
        input(type="submit", value="Remove Favorite")